body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f0f5f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    width: 90%;
    max-width: 1200px;
    height: 80vh;
    border-radius: 20px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.illustration {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e6f7e6;
    padding: 20px;
    box-sizing: border-box;
}

.illustration img {
    max-width: 100%;
    height: 100%;
}

.form-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    box-sizing: border-box;
}

.login-form {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 400px;
    position: relative;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}

.login-form h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 20px;
}

.input-group input {
    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: 'Open Sans', sans-serif;
}

button {
    padding: 15px;
    background-color: #00a650;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
}

button:hover {
    background-color: #008b43;
}

.man-image {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.man-image img {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        height: auto;
    }

    .illustration, .form-container {
        flex: 1;
        width: 100%;
    }

    .illustration img, .man-image img {
        max-width: 100%;
    }

    .man-image {
        margin-top: 10px;
    }
}
