@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');

.form-container {
    width: 75%;
    padding: 10px;
    
}

.sms-preferences-container {
   
    padding-top: 20px;
    padding-bottom: 150px;
    font-family: 'Open Sans', sans-serif;
}

.sms-preferences-container h2 {
    color: #4caf50;
    margin-bottom: 40px;
    font-family: 'Montserrat', sans-serif;
}

.preference-card {
    background: #fff;
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.preference-card p {
    margin: 0;
    color: #666;
    font-family: 'Open Sans', sans-serif;
    
}

.preference-info {
    display: flex;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
}

.preference-info span {
    font-family: 'Open Sans', sans-serif;
    color: rgba(0, 0, 0, 0.672);
    margin-right: 0;
    padding-right: 42px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 20px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    border-radius: 20px;
}

.slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}

input:checked + .slider {
    background-color: #4caf50;
}

input:checked + .slider:before {
    transform: translateX(20px);
}

@media (max-width: 768px) {
    .form-container {
        width: 100%;
    }

    .preference-card {
        flex-direction: column;
        align-items: flex-start;
    }

    .preference-info {
        margin-bottom: 10px;
    }
}
